.button {
  position: relative;
  display: inline-block;

  width: 100%;
  margin-top: 32px;
  margin-bottom: 24px;
  padding: 14px 24px;
  text-align: center;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  background: #e00b41;
  color: white;
  overflow: hidden;

  transition: transform 0.1s ease-out;
}

.button.pressed {
  transform: scale(0.95);
}

.button::after {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.4), transparent);
  transform: translate(-50%, -50%);
  filter: blur(40px);
  transition:
    width 0.2s ease,
    height 0.2s ease;
}

.button:hover::after {
  --size: 200px;
}
