.wrapper {
  border: 1px solid rgb(176, 176, 176);
  border-radius: 8px;
}

.dividerContainer {
  width: 100%;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 0.8rem;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.divider::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  margin-right: 16px;
}

.divider::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  margin-left: 16px;
}
